.dialog {
    background-color: #fff;
    max-width: 200px;
    border-radius: 9px;
    animation: fadeIn 1s, slideInDialog 0.5s linear;
  }
  
  .dialog::backdrop {
    background-color: #ffffff5d;
  }
  
  .dialog-content {
    display: flex;
   align-items: center;
    flex-direction: column;
  }
  
  .dialog-content h2 {
    margin-bottom: 1rem;
  }
  
  .dialog .dialog-content button {
    width: 120px;
    height: 30px;
  
    align-self: center;
    margin-top: 20px;
  
    background-color: transparent;
    border-radius: 9px;
  
    cursor: pointer;
  }
  
