.editor {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.093);
    height: 500px;
    width: 500px;
    border-radius: 2em;
    padding: 2em;
}

.editor>* {
    margin-inline-start: 1em;
    margin-block-start: 1em;
}

.editor #add-text {
    all: initial;
    background-color: white;
    border-bottom: 4px solid rgb(199, 199, 199);
    width: 350px;
    margin-inline-start: 6%;
    border-radius: 2em;
    text-align: center;
    padding: 0.3em;
    font-size: 2.8em;
    font-family: sans-serif;
}

.editor .file {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1em;
    border: 1px solid grey;
    border-radius: 2em;
}

.editor .font {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.editor .font-size-container {
    display: flex;
    border-radius: 2em;
}

.editor .line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}