.emoji-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f9bb3, #30bb73);
    border-radius: 0.6em;
    box-shadow: 0 0 10px #30bb7357;
    box-shadow: 0 0 3px black;
    border: 1px solid rgba(0, 0, 0, 0.532);
    padding: 20px;
}

.emoji-section  > * {
    all:initial;
    margin: 0.5em;
}

.emoji-section .icon-display {
    background-color: rgba(255, 255, 255, 0.34);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.carousel-btn {
    width: 3em;
    height: 1.5em;
    border-radius: 2em;
    opacity: 0.6;
}

.emoji-section .icon-btn {
    all: initial;
    font-size: 2.5rem;
}


