
.file .btn {
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 1px solid rgb(214, 214, 214);
    padding: 0.5em 0.8em;
    border-radius: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: gray;
    box-shadow: 0 0 5px rgb(227, 227, 227);
    cursor: pointer;
    transition: 0.4s;
    font-size: 0.8em;
    padding: 0.8em 1.3em;
}