.img-gallery {
    display:none;
    flex-wrap: wrap;   
}
.img-gallery img {
    height: 200px;
    width: 200px;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
}

.img-gallery .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3em;
    margin: auto;
    width: 98%;
    height: 20px;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
    color: white;
    height: 3.8em;
}

.img-gallery .main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.268);
    margin: 0 2%;
    border-radius: 0.8em;
}

.extra-section {
    position: absolute;
    left: 50%;
    top: 5.5%;
}

.extra-section button {
    all: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em;
    background-color: chartreuse;
    width: 3.56em;
    height: 3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.388);
    cursor: pointer;
}