.img-gallery {
    display: none;
}

.img-gallery img {
    margin-block-start: 2rem;
    border-radius: 0.8em;
}

.img-gallery img:hover {
    box-shadow: 0 0 15px white;
}

.img-gallery .main-screen {
    columns: 4;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.268);
    border-radius: 0.8em;
    margin: 2em;
    padding: 2rem;
    z-index: 1;
}

.img-gallery .extra-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 7%;
}

.img-gallery .extra-section button {
    padding: 0.6em 2em;
}

.extra-section>* {
    margin: 1.2em;
}

.extra-section button {
    all: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3em;
    border:  3px solid aquamarine ;
    color: white;
    width: 6em;
    height: 1.8em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.388);
    cursor: pointer;
}

.extra-section .filter {  
    width: 13em;
    height: 3.4rem;
    margin: 2em;
    padding: 1em;
    border:  3px solid aquamarine ;
    border-radius: 2em;
    background-color:  aquamarine ;
}

 .search-words-wrap .search-by-keyword {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:  3px solid aquamarine ;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: 2em;
    border-radius: 1.2em;
    height: 5em;
    cursor: pointer;
}


.img-gallery .main-screen :first-child {
   margin-block-start: 0;
}
.img-gallery .header-wraper {
    display: flex;
    justify-content: center;
}
