.img-gallery {
    display:none;
    flex-wrap: wrap;   
}
.img-gallery img {
    height: 200px;
    width: 200px;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: box-shadow 0.4s;
}
.img-gallery img:hover {
   box-shadow: 0 0 15px white;
}

.img-gallery .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3em;
    margin: auto;
    width: 98%;
    height: 20px;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
    color: white;
    height: 3.8em;
}

.img-gallery .main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.268);
    margin: 0 2%;
    border-radius: 0.8em;
}

.extra-section {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%,0);
    top: 5.5%;
}

.extra-section > * {
    margin: 1.2em;
}

.extra-section button {
    all: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em;
    background-color: chartreuse;
    width: 3.56em;
    height: 3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.388);
    cursor: pointer;
}

.extra-section .search-by-keyword {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: orange;
    padding: 2em;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.extra-section .search-by-keyword  > * {
    margin-inline-start: 1em;
}
