header {
    position: absolute;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3em;
    margin: auto;
    width: 98%;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
    color: white;
    height: 3.8em;
}

.logo {
    margin-inline-start: 2em;
    cursor: pointer;
}

.navbar-container {
    display: flex;
   margin-inline-end: 10em;
}
.navbar-container >* {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    cursor: pointer;
}
