.header {
    position: absolute;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.2em;
    width: 96.5%;
    margin-block-start: 0.2em;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
    color: white;
    font-size: 1.4em;
    padding: 0.6em;
}

.logo {
    margin-inline-start: 2em;
    cursor: pointer;
    font-family: 'Courgette', cursive;
    font-size: 1.6em;
}
header .logo img {
    height: 40px;

}

.navbar-container {
    display: flex;
   margin-inline-end: 10em;
}
.navbar-container >* {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.2em;
    transition: 0.3s;
}
.navbar-container >*:hover {
   background-color: rgba(255, 255, 255, 0.25);
}

.langSelect {
    color: rgb(255, 255, 255);
    background-color: #47886679;
    padding: 0 2em;
    border: none;
}