.saved-memes {
    display: none;
    flex-wrap: wrap;   
}

.saved-memes img {
    height: 200px;
    width: 200px;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
}

.saved-memes .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3em;
    margin: auto;
    width: 98%;
    height: 20px;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
    color: white;
    height: 3.8em;
}

.saved-memes .main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.268);
    margin: 0 2%;
    border-radius: 0.8em;
}

.saved-memes .extra-section {
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-47%, 0);
}

.saved-memes .main-screen .hello {
    margin: 300px;
}

