* {
    box-sizing: border-box;
}

html {
    font-family: playfair, serif;
}

body {
    margin: 0;
    background: linear-gradient(to right, #0f9bb3,#30bb73);
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 ;
}



